* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Arial, sans-serif;
  color: #333;
  font-size: 13px;
}

body {
  padding: 0 15%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.7);
  background: linear-gradient(to bottom, #b3b3b0 0%, #e3e2dd 500px);
}


/*Header*/

header {
    width: 100;
    background-color: #575757;
}

.headerWraper {
  height: 95px;
  width: 100%;
  background: linear-gradient(to bottom, #646464 0%,#0e0e0e 100%);
  display: flex;
  flex-direction: row;
  font: 10pt Verdana, Arial, sans-serif;
  border-top: 1px solid #444;
  margin: 15px 0 0 0;
}

.logo {
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo i {
  color: #e6be29;
/*  background: linear-gradient(to left, #e6be29 , #e6be29);*/
}
.headerContent {
  width: 90%;
}


 /* Header Upper*/

.upperHeader {
  display: flex;
  height: 45%;

}

#namanyay-search-box {
  background: #eee;
  padding:10px;
   border-radius:10px 0 0 10px;
  -moz-border-radius:10px 0 0 10px;
  -webkit-border-radius:10px 0 0 10px;
  -o-border-radius:10px 0 0 10px;
  border:0 none;
  width:160px;
 }


 .searchDropDown:hover {
   background: linear-gradient(#e8e4e4, #a5a2a2);
 }

 .buttonBackground {
   background: -webkit-linear-gradient(top, #f2f2f2 0%, #f9ec75 20%, #f3ce00 70%);
   background: linear-gradient(top, #f2f2f2 0%,#f9ec75 20%,#f3ce00 70%);
   border-radius: 0 3px 3px 0;
 }

 .widthOfSearchBar {
   width: 70% !important;
 }


.upperHeaderLeft {
  height: 30px;
  width: 140%;
  padding: 7px 0 7px 0px;
  display: flex;
}

.searchButton {
  display: flex;
  align-items: center;
  background: linear-gradient(to bottom, #f2f2f2 0%, #f9ec75, #f3ce00 70%);
  border-radius: 5px;
  border: 1px solid black;

  width: 5%;
  display: flex !important;
  justify-content: center;
}

.upperHeaderRight {
  display: flex;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.imdbPro {
  font-family: 'Oswald', sans-serif;
  display: flex;
  width: 20%;
}

.imdbPro:hover {
  width: 70px;
  background: linear-gradient(to bottom, #333333 15%,#505050 50%,#333333 85%);
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #f00;
  border-color: #ccc transparent transparent transparent;

  display: flex;
  align-self: center;
  margin: 8%;
}

.blue {
  color: blue;
}

.white {
  color: white;
}

.line {
  padding: 0px 6px 0 10px;
  font-style: normal;
  color: #888;
}

.noDecorationLink {
  text-decoration: none;
  color: white;
  font-size: 11px;
}

.noDecorationLink:hover {
  text-decoration: underline;
}

.imageLinks {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin-left: 10%;

}

.backgroundColorForIcons {
  color: #dddddd;
}



/* Header Bottom*/

.bottomHeader {
  display: flex;
  justify-content: flex-start;
}

.dropDowns {
  margin-top: 5px;
  display: flex;
  width: 140%;
}


.oneDropDown {
  display: flex;
  width: 25%;
  align-items: center;
  justify-content: center;
}

.lastDropDown {
  width: 20%;
}

.oneDropDown a {
  text-decoration: none;
  color: white;
}

.oneDropDown:hover {
  text-decoration: underline;
  background: linear-gradient(to bottom, #333333 15%,#505050 50%,#333333 85%);
}

.oneDropDown:hover .dropdown-menu {
display: inline-flex;
}

.grayBar {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #333333 15%,#505050 50%,#333333 85%);

}

.links {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: space-evenly;
}

.links i {
  color: white;
}

.facebookSingIn {
  padding: 2px 5px 2px 0px;
  border: 1px solid #dddddd;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  text-decoration: none;
  background-color: #3B5998;
  border-color: #3B5998;

  display: flex;
  width: 49%;
  justify-content: space-around;
  height: 53%;
  align-items: center;
}

.facebookSingInText {
    color: #fff;
    margin-left: 0px;
    font-weight: bold;
    font-size: 10px;
}


.commonLink {
  text-decoration: underline;
  width: 41%;
  color: white;
  font-size: 11px;
}

.trailer {
  height: 10%;
  text-decoration: none;
}

.trailer p a {
  padding-left: 3%;
  color: #63C9FF;
}
/*End of header*/



/*begging of main*/

.wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

main {
  width: 61%;
  border-right: solid 3px #999;
}

/*posters*/

#posterScroll::-webkit-scrollbar { 
  display: none; 
}

.postersArea {
  height: 310px;
  width: 100%;
  background-color: #333;
  color: #747474;
  box-sizing: border-box;
}

.postersAreaMargins {
  padding: 5%;
}

.posters {
  height: 88%;
  width: auto;
  margin-bottom: 10px;
  box-sizing: border-box;
  display: inline-block;
  margin: 15px 5px 0px 20px;
}



.posters img {
  max-width: 100%;
}

/* Animations */

.poster {
  width: 180px;
  margin: 1px 5px 15px 10px;
  position: relative;
  display: inline-flex;
}

.aboutPoster {
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  top: calc(100% - 47px);
  transition: all 1s cubic-bezier(0, 0, 0, 1.02);
}

.aboutPoster:hover {
  top: 0px;
  height: 100%;
}



.aboutPoster>h3, .aboutPoster>p {
  color: white;
}

/*End of animation */
.seemore {
  margin-left: 10px;
}
.seemore::after {
    content: "\0000a0\0000bb";
    color: gray;
}

.postersArea .seemore a {
  text-decoration: none;
  color: #63C9FF;
}

.articleArea .seemore a {
  text-decoration: none;
  color: #136CB2;
}

.seemore a:hover {
  text-decoration: underline;
}

.asideLinks .seemore {
  margin-top: 10px;
}

/*poster ends*/

/*Artice*/

.articleArea {
  border-top: 1px solid #CCC;
  background-color: #f8f8f8;
  padding: 20px;

}

.articleArea h1 {
  color: #424242;
  font: 24px Arial,sans-serif;
  font-weight: normal;
}

.articleArea h1:hover {
  text-decoration: underline;
  color: #136cb2;
}

.articleArea p {
  margin: 15px 0;
}


.imagesInArtice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.imagesInArtice img {
  max-width: 49%;
  object-fit: contain;
}

.imagesInArtice video {
  max-width: 49%;
  object-fit: contain;
}

/*Article ends*/


/*Aside*/

aside {
  width: 40%;
  display: flex;
  background-color: #f0f0f0;
  padding: 0 20px;
  box-sizing: border-box;
  flex-direction: column;
}

aside h3 {
  font: 18px Arial,sans-serif;
  color: #333;
  margin-bottom: 15px;
}

aside h3:hover {
  color:#136cb2;
  text-decoration: underline;
  font-weight: normal;
}

.asideLinks {
  border-bottom: solid 1px #ccc;
  padding-bottom: 20px;
  padding-top: 16px;

  display: flex;
  flex-direction: column;
  width: 100%;
}

.asideRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.asideRow .material-icons {
  font-size: 36px;
  position: relative;
  color: #b1b1b1;
}

.asideRow .fa-plus {
  position: absolute;
  font-size: 16px;
  top: 8px;
  left: 12px;
  color: white;
}

.asideLimited {
  font-size: 11px;
  text-align: right;
}

.linkWrapper {
  display: flex;
  align-items: center;
}

.linkWrapper a:active {
    color: #E7BE00;
    text-decoration: none;
}

.linkWrapper a:hover {
    color: #136CB2;
    text-decoration: underline;
}

.linkWrapper a:visited {
    color: #70579D;
    text-decoration: none;
}

.linkWrapper a:link {
    color: #136CB2;
    text-decoration: none;
}

.linkWrapper a:active {
    color: #E7BE00;
    text-decoration: none;
}

.linkWrapper a:hover {
    color: #136CB2;
    text-decoration: underline;
}

.linkWrapper a:visited {
    color: #70579D;
    text-decoration: none;
}

.asideLinks .seemore a {
  color: #136CB2;
  text-decoration: none;
}

.asideLinks .seemore a:hover {
  text-decoration: underline;
}

/*Aside ends*/

/*dropDown CSS*/

.dropdown-menu {
  display: none;
  background-color: #f2f2f2 !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  box-shadow: 0 2px 5px rgba(0,0,0,0.6) !important;
  overflow: hidden !important;
  height: 315px !important;
  width: 875px;
  left: 311px !important;
  position: absolute !important;
  top: 111px !important;
  z-index: 999;
}

.multi-column-dropdown {
	padding-left: 20px !important;
}

.multi-column-dropdown li {
	list-style-type: none !important;
    margin: 10px 0 0 !important;
}

.multi-column-dropdown li a {
	color: #555;
	display: block;
	clear: both;
	line-height: 1.428571429;
	white-space: normal;
}

.multi-column-dropdown li a:hover {
	text-decoration: none;
	color: #262626;
	background-color: #999;
}

.title {
	color:#A58500 !important;
}

.dropdownPic1 {
	background: url(posters/nav-pic1.jpg);
	border-bottom-right-radius: 10px;
	min-width: 410px;
    min-height: 315px;
    position: absolute;
	right: -5px;
	top: 0px;
}