* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #e3e2dd;
	background: -webkit-linear-gradient(top, #b3b3b0 0%, #e3e2dd 500px);
}

.containerStyle {
	box-shadow: 0px 0px 8px rgba(0,0,0,0.7);
}

.headerStyle {
	display: flex;
	background: linear-gradient(to bottom, #646464 0%,#0e0e0e 100%);
}

header p {
	color: white;
	padding: 0;
	margin: 0;
}

.logoColumn {
	display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
	display: flex;
	justify-content: center;

}

#searchBar {
	width:	50%;
}

.search {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}


.otherInUpperHeader{
	display:flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;

}

.wrapBottom {
	display: flex;
	justify-content: space-between;
}

.dropDowns{
	display: flex;
	justify-content: space-between;
}

#dropDownsId {
		padding: 0;
}

.bottomLinks {
	display: flex;
	justify-content: space-between;
}

.bar {
	display: inline-block;
	width: 1px;
	vertical-align: middle;
	height: 20px;
	background: linear-gradient(to bottom, #333333 15%,#727272 50%,#232323 85%);
}

.postersAreaColor {
	background-color: #333;
  color: #747474;
}

.marginsForPosters{
	margin: 2%;
}

.posters {
	width: inherit;
	display: flex;
	justify-content: space-evenly;
}

.posterLink {
	display: flex;
	flex-direction: column;
}

.postersForArticles {
	display: flex;
	justify-content: space-around;
}

article {
	padding: 20px;
	height: 60%;
	background-color: white;
	border: 1px solid #CCC;
}

.divsForImages {
	width: 100%;
	margin-right: 2%;
}

.divsForImages1 {
	width: 100%;
	margin-left: 2%;
}


.images {
	width: 100%;
	margin: 2% 0;
}

.paddingForAllArticle {
	padding: 0 4%;
}

.seemore::after {
	content: "\0000a0\0000bb";
}

aside {
	background-color: transparent;
}

.asideMargin {
	margin-top: 2%;
}

.asideLinksWrapper {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

.asideParagraf {
	text-align: right;
}

.asideRow {
	padding: 0 2%;
}

.asideRow p {
	padding: 0;
	margin: 0;
}

.asideBookmark {
	padding: 0;
	display: flex;
	justify-content: flex-end;
}

.asideBar {
    border-bottom: solid 1px #ccc;
    height: 1px;
    width: 100%;
}
