/*
.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
  }
*/
.container-fluid {
	display: table !important;
	margin-left: 15% !important;
	margin-right: 15% !important;
	padding: 0;
}


.arrowPadding {
	width: 1% !important;
	padding: 0 3% 0 2%;
 	margin-top: -2%;
}

.containerStyle {
	width: 67% !important;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.7);
}

.no-padding-left {
	padding-left: 0 !important;
}

.no-padding-right {
	padding-right: 0 !important;
}

.no-padding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

body {
	background-color: #e3e2dd !important;
}

.headerStyle {
	background: linear-gradient(to bottom, #646464 0%,#0e0e0e 100%) !important;
}

header p {
	color: white;
	padding: 0;
	margin: 0;
}


.headerUpper {
	margin-top: 1%;
}

.logoColumn {
	padding-top: 32px;
}


#searchBar {
	height: 36.5px;
}

.search {
	padding-right: 2px !important;
	justify-content: space-around;
	width: 75% !important;
}

.selectHeaderUpper {
	height: 36.5px !important;
}

.search-button {
	background-color: transparent;
	margin: 0;
    padding: 0;
    border: none;
    height: 24px;
	vertical-align: bottom;
	margin-top: -2px;
}

.searchButtonPadding {
	height: auto;
	padding: 0 !important;
}

.otherInUpperHeader{

}
.headerUpperMargin {
	margin-top: 2px;
}
.wrapBottom {
	justify-content: space-between;
}

.dropdown{
	width: 16%;
}

.padding-dropdown2 {
	width: 18%;
	padding-right: 0;
	padding-left: 0;
}

.dropdownBar {
	background: linear-gradient(to bottom, #333333 15%,#727272 50%,#232323 85%);
    height: 46px;
    padding: 0px;
	width: 1px;
	margin-right: 1.5%;
}

.paddingBar2 {
	margin-right: 1.5%;
	margin-left: 1%;
}
#dropDownsId {
}

.bottomLinks {
	justify-content: space-between;
}

.bar {
	display: inline-block;
	width: 1px;
	vertical-align: middle;
	height: 20px;
	background: linear-gradient(to bottom, #333333 15%,#727272 50%,#232323 85%);
}

.postersAreaColor {
	background-color: #333;
	color: #747474;
    height: 325px !important;
}

.marginsForPosters{
	margin: 2%;
}

.posters {
	width: inherit;
	justify-content: space-evenly;
}

.posterLink {

}

.postersForArticles {

}

article {
	padding: 20px;
	height: 60%;
	background-color: white;
	border: 1px solid #CCC;
}

.divsForImages {
	width: 100%;
	margin-right: 2%;
}

.divsForImages1 {
	width: 100%;
	margin-left: 2%;
}


.images {
	width: 100%;
	margin: 2% 0;
}

.paddingForAllArticle {
	padding: 0 4%;
}

.seemore::after {
	content: "\0000a0\0000bb";
}

aside {
	background-color: transparent;
}

.asideMargin {
	margin-top: 2%;
}

.asideLinksWrapper {

}

.asideParagraf {
	text-align: right;
}

.asideRow {
	padding: 0 2%;
}

.asideRow p {
	padding: 0;
	margin: 0;
}

.asideBookmark {
	padding: 0;
}

.asideBar {
    border-bottom: solid 1px #ccc;
    height: 1px;
    width: 100%;
}

.dropdown-toggle {
	color: white !important;
}

/*dropDown CSS*/
.dropdown-menu {
	background-color: #f2f2f2 !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    box-shadow: 0 2px 5px rgba(0,0,0,0.6) !important;
    overflow: hidden !important;
	height: 315px !important;
	width: 875px;
    left: 0 !important;
    position: absolute !important;
	top: 67px !important;
}
.multi-column-dropdown {
	padding-left: 20px !important;
}

.multi-column-dropdown li {
	list-style-type: none !important;
    margin: 10px 0 0 !important;
}

.multi-column-dropdown li a {
	color: #555;
	display: block;
	clear: both;
	line-height: 1.428571429;
	white-space: normal;
}

.multi-column-dropdown li a:hover {
	text-decoration: none;
	color: #262626;
	background-color: #999;
}

.title {
	color:#A58500 !important;
}

.dropdownPic1 {
	background: url(posters/nav-pic1.jpg);
	border-bottom-right-radius: 10px;
	min-width: 410px;
    min-height: 315px;
    position: absolute;
	right: -5px;
	top: 0px;
}

.mainWidth {
	width: 67%;
}
