nav {
	background-color: red;
	display: inline-block;
	vertical-align: top;
}

.logo {
	display: inline-block;
	background-image: url("logos/imdb.png");
	vertical-align: top;
	width: 85px;
	height: 65px;
	margin-left: 1.2px;
}

.headerUpper{
	display: inline-block;
}

.searchBar {
	display: inline-block;
	vertical-align: top;
}

.headerContent {
	display:inline-block;
	margin-top: 9px;
	width: calc(100% - 100px);
}

header {
	width: 100%;
	height: 30%;
	background: linear-gradient(to bottom, #646464 0%,#0e0e0e 100%);
}

main {
	display: inline-block;
	width: 70%;
}

aside {
	display: inline-block;
	background-color: transparent;
	float: right;
	width: 30%;
	height: 70%;
}

footer {
	background-color:gray;
}

body {
	font-family: Verdana, Arial, sans-serif;
    color: #333;
	font-size: 13px;
}

html {
	background-color: #e3e2dd;
}

.wrap {
	margin-left: 20%;
	margin-right: 20%;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.7);

}

.displayLinks {
	text-decoration: none;
	display: inline-block;
}

.displayLinks img {
	margin: 0;
}

.iconLine {
	margin-bottom: 10px;
	float: right;
} 

.iconSize {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-top: 5px;
}

.video {
	height: 40%;
	background-color: #333;
    color: #747474;
	padding: 20px 21px 9px 20px;
}

.videoPosters {
	width: 100%;
	display: table-cell;
    table-layout: fixed;
}

.poster {
	display: table-cell;
    vertical-align: top;
	width: 25%;
	padding: 5px;
}

.posterImage {
	width: 100%;
	height: auto;
	
}

.playButton1 {
	left: 28%;
    position: absolute;
    top: 35%;
	transform: translate(-50%, -50%);
}


.playButton2 {
	left: 41%;
    position: absolute;
    top: 35%;
	transform: translate(-50%, -50%);
}


.playButton3 {
	left: 54%;
    position: absolute;
    top: 35%;
	transform: translate(-50%, -50%);
}

.link {
	color: #63C9FF;
	margin-left: 10px;
}

.seemore::after {
	content: "\0000a0\0000bb";
}
.movieInformation {
	padding: 20px;
	height: 60%;
	background-color: white;
	border: 1px solid #CCC;
}

.images {
	display: inline-block;
	width: 49%;
	height: 49%;
}

.Bar {
	display: inline-block;
	width: 1px;
	vertical-align: middle;
	height: 20px;
	background: linear-gradient(to bottom, #333333 15%,#727272 50%,#232323 85%);
}


.headerBottom div {
	display: inline-block;
}

.headerBottom p {
	color: white;
	font-size: 10px;
	display: inline-block;
	vertical-align: middle;
}

.dropDown {
	position: relative;
	width: 20%;
}

.downArrow {
	border-color: #ccc transparent transparent transparent;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    height: 0;
    line-height: 0;
   /* position: absolute;
    right: 17px;
    top: 23px;
	transition: .3s;*/
    width: 0;
}

.arrowDiv {
	display: inline-block;
	width: 20%;
	float: left;
}

.asideTitle {
	font-size: 15px;
	font: Arial, sans-serif;
	font-weight: normal;
	color: #333;
	margin-left: 10px;
}

.asideRow {
	margin: 10px;
}

.asideRow div {
	display:inline-block;
}

.asideContent {
	vertical-align: top;
}

.text {
	width: 70%;
}

.arrow {
	vertical-align: bottom;
}

#specialArrow {
	vertical-align: bottom;
}