nav {
	background-color: red;
	display: inline-block;
	vertical-align: top;
}

.logo {
	display: inline-block;
	background-image: url("logos/imdb.png");
	vertical-align: top;
	width: 85px;
	height: 65px;
	margin-left: 1.2px;
}

.searchBar{
	display: inline-block;
	margin-bottom: 6.5px;
}

.otherInHeader {
	display:inline-block;
	margin: 9.5px;
}

header {
	width: 100%;
	height: 30%;
	background: linear-gradient(to bottom, #646464 0%,#0e0e0e 100%);
}

main {
	display: inline-block;
	width: 65%;
}

aside {
	display: inline-block;
	background-color: green;
	float: right;
	width: 35%;
	height: 70%;
}

footer {
	background-color:gray;
}

.container {
	font-family: Verdana, Arial, sans-serif;
    color: #333;
	font-size: 13px;
}

html {
	background-color: #e3e2dd;
}

.wrap {
	margin-left: 20%;
	margin-right: 20%;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.7);

}

.displayLinks {
	text-decoration: none;
}

.iconLine {
	margin-bottom: 10px;
	float: right;
} 

.iconSize {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-top: 5px;
}

.video {
	height: 40%;
	background-color: red;
}

.movieInformation {
	height: 60%;
	background-color: purple;
}