nav {
	background-color: red;
	display: inline-block;
	vertical-align: top;
}

.logo {
	display: inline-block;
	background-image: url("logos/imdb.png");
	vertical-align: top;
	width: 85px;
	height: 65px;
	margin-left: 1.2px;
}

.headerUpper{
	display: inline-block;
}

.searchBar {
	display: inline-block;
	vertical-align: top;
}

.headerContent {
	display:inline-block;
	margin: 9.5px;
}

header {
	width: 100%;
	height: 30%;
	background: linear-gradient(to bottom, #646464 0%,#0e0e0e 100%);
}

main {
	display: inline-block;
	width: 70%;
}

aside {
	display: inline-block;
	background-color: transparent;
	float: right;
	width: 30%;
	height: 70%;
}

footer {
	background-color:gray;
}

body {
	font-family: Verdana, Arial, sans-serif;
    color: #333;
	font-size: 13px;
}

html {
	background-color: #e3e2dd;
}

.wrap {
	margin-left: 20%;
	margin-right: 20%;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.7);

}

.displayLinks {
	text-decoration: none;
	display: inline-block;
}

.displayLinks img {
	margin: 0;
}

.iconLine {
	margin-bottom: 10px;
	float: right;
} 

.iconSize {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-top: 5px;
}

.video {
	height: 40%;
	background-color: #333;
    color: #747474;
	padding: 20px 21px 9px 20px;
}

.videoPosters {
	width: 100%;
	display: table-cell;
    table-layout: fixed;
}

.poster {
	display: table-cell;
    vertical-align: top;
}

.posterImage1 {
	width: 180px;
	height: auto;
	padding-left: 10px;
}

.playButton1 {
	left: 28%;
    position: absolute;
    top: 30%;
	transform: translate(-50%, -50%);
}

.posterImage2 {
	width: 180px;
	height: auto;
	padding-left: 15px;
}

.playButton2 {
	left: 41%;
    position: absolute;
    top: 30%;
	transform: translate(-50%, -50%);
}

.posterImage3 {
	width: 180px;
	height: auto;
	padding-left: 15px;
}

.playButton3 {
	left: 54%;
    position: absolute;
    top: 30%;
	transform: translate(-50%, -50%);
}

.link {
	color: #63C9FF;
	margin-left: 10px;
}

.seemore::after {
	content: "\0000a0\0000bb";
}
.movieInformation {
	padding: 20px;
	height: 60%;
	background-color: white;
	border: 1px solid #CCC;
}

.images {
	display: inline-block;
	width: 49%;
	height: 49%;
}